# Bashshot - Solaris time-slider-like functionality for GNU/Linux implemented in bash
00,15,30,45 * * * * root /usr/bin/bashshot.bash
# Cleaner scripts
01,16,31,46 * * * * root /usr/bin/bashshot_cleaner.bash frequently
02 * * * * root /usr/bin/bashshot_cleaner.bash hourly
03 03 * * * root /usr/bin/bashshot_cleaner.bash daily
03 04 * * 0 root /usr/bin/bashshot_cleaner.bash weekly
03 05 1 * * root /usr/bin/bashshot_cleaner.bash monthly
